.text {
  color: var(--color-dark);
  font-size: x-large;
  font-size: var(--font-md);
}

.text span {
  font-family: var(--font-family-header);
  font-weight: bold;
  color: var(--color-blue);
}

.subtitle {
  color: var(--color-blue);
  margin: 0 0 1rem 1rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 2.2rem;
  }

  .text {
    font-size: var(--font-lg);
  }
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 3rem;
  }

  .text {
    font-size: var(--font-xl);
  }
}
