.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  max-width: 100%;
  gap: var(--spacing-lg);
}

.container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-sm);
}

.title {
  font-size: var(--font-2xl);
  margin-bottom: var(--spacing-md);
  align-self: flex-start;
  /* color: var(--color-blue); */
}

.container button:last-of-type {
  margin-left: auto;
}

.container button:first-of-type {
  margin-top: var(--spacing-md);
}

.error {
  color: var(--color-blue-darker);
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-xs);
}
