.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fileLabel {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.fileInput {
  display: none;
}

.button {
  background-color: var(--color-blue);
  color: white;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: var(--btn-border-radius);
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: var(--color-blue-darker);
}

.button:active {
  background-color: var(--color-blue);
}

.fileName {
  font-size: 0.95rem;
  color: #333;
}

.csvPreview {
  color: var(--color-grey);
}
