/* MonthSelect.module.css */
.combobox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  font-family: var(--font-family-body);
  width: 99%;
  padding: var(--input-padding-y) 0 var(--input-padding-y)
    var(--input-padding-x);
  font-size: var(--input-font-size);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-dark);
  background-color: var(--color-white);
  color: var(--color-grey);
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--color-blue-darker);
  box-shadow: 0 0 0 2px var(--color-blue-light);
}

.button {
  background: none;
  border: none;
  color: var(--color-blue);
  cursor: pointer;
  font-size: 1.5em;
  right: -11px;
  top: 15%;
  transition: color 0.2s;
  position: absolute;
}

.button:hover {
  color: var(--color-blue-darker);
}

.loadingIcon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.options {
  width: 100%;
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: var(--input-border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 999;
  margin-top: 4px;
  max-height: 350px;
  top: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.options::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Add a wrapper for the options list */
.optionsWrapper {
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.optionsWrapper::-webkit-scrollbar {
  display: none; /* WebKit */
}

.option {
  padding: var(--input-padding-y) var(--input-padding-x);
  cursor: pointer;
  color: var(--color-grey);
  background: none;
  transition:
    background 0.2s,
    color 0.2s;
}

.option[aria-selected='true'],
.option:hover {
  background: var(--color-blue);
  color: var(--color-white);
}

/* For accessibility focus */
.option:focus {
  outline: 2px solid var(--color-blue-darker);
}

.footer {
  border-top: 1px solid #e5e7eb;
  background-color: var(--color-blue);
  padding: 0.5rem;
}

.createButton {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: #374151;
  cursor: pointer;
  transition: all 0.2s;
}

.createButton:hover {
  background-color: #f3f4f6;
}
